.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 3.5rem;
    }
}

.itemContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    width: 100%;

    .imageContainer {
        height: calc(50px + 2rem);
        width: calc(50px + 2rem);
        padding: 1rem;
        --generated-color: 0, 0, 0;
        background-color: rgba(var(--generated-color), 0.2);
        border-radius: 1rem;
        flex-shrink: 0;
    }

    .label {
        color: rgba(var(--color-5));
        font-size: 1.1rem;
        font-weight: 500;
    }

    .body {
        font-size: 0.9rem;
        margin: 0 0 0 0;
        opacity: 0.5;
        font-weight: 400;
        color: rgba(var(--color-7));
    }
}
