@use '../abstracts/mixins';

.container {
    width: 100%;
    background-color: rgb(var(--color-2), 0.2);
    color: rgb(var(--color-8));
    // height: 4rem;
    // min-height: 4rem;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    font-weight: 300;
    z-index: 10;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    @include mixins.respond-to("small") {
        flex-wrap: wrap;
    }
    .section {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33%;
        padding: 1rem 0;
        height: 4rem;
        @include mixins.respond-to("small") {
            min-width: 50%;
        }
        @include mixins.respond-to("tiny") {
            min-width: 100%;
        }
    }

    .socials {
        gap: 1rem;
        div {
            width: 2rem;
            height: 2rem;
            background-color: rgb(var(--color-2));
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 1rem;
            }
        }
        @include mixins.respond-to("tiny") {
            padding: 0 0 1rem 0;
        }
    }
}

.madeWith {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    a {
        height: 1.2rem;
    }
}

.nowPlaying {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(var(--color-8));

    @include mixins.respond-to("tiny") {
        padding: 0.5rem 0 0 0 !important;
        height: 3rem !important;
    }
    span {
        text-transform: capitalize;
        font-weight: 500;
        letter-spacing: 0px;
    }
}

.nowPlayingImageContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
}
