$font-1: "Roboto", sans-serif;
$font-2: "Noto Sans JP", sans-serif;

:root {
    --color-1: 250, 250, 250;
    --color-2: 235, 235, 235;
    --color-3: 215, 215, 215;
    --color-4: 200, 200, 200;
    --color-5: 24, 40, 55;
    --color-6: 16, 26, 37;
    --color-7: 8, 13, 18;
    --color-8: 0, 0, 0;

    --primary-color-1: 58, 97, 134;
    --primary-color-2: 137, 37, 62;

    @media (prefers-color-scheme: dark) {
        --color-1: 20, 20, 20;
        --color-2: 40, 40, 40;
        --color-3: 60, 60, 60;
        --color-4: 80, 80, 80;
        --color-5: 24, 40, 55;
        --color-6: 16, 26, 37;
        --color-7: 8, 13, 18;
        --color-8: 255, 255, 255;

        --primary-color-1: 204, 220, 235;
        --primary-color-2: 242, 196, 208;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: $font-2;
    background-color: var(--color-2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-1;
    color: black;
}

button {
    font-family: $font-2;
    margin: unset;
    padding: unset;
}

a {
    color: rgb(var(--primary-color-1));
    text-decoration: none;
    font-weight: 900;
}

* {
    box-sizing: border-box;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
