.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.centerContainer {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .textContainer {
        max-width: 35rem;
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 5rem;
            margin: 0;
            background: -webkit-linear-gradient(
                0deg,
                rgb(var(--primary-color-1)),
                rgb(var(--primary-color-2))
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        p {
            font-size: 1.2rem;
            margin: 0;
            font-weight: 400;
        }
    }
}
